<!-- Footer: 1. Información de autoría.
                        2. Información registrada.
                        3. Información de contacto.
                        4. Mapa del sitio. -->

                        <footer>
                            <div class="container-fluid">
                                <div class="row">
                                    
                                    <div class="col-9"> 
                                        1. Información de autoría.
                                        2. Información registrada.
                                        3. Información de contacto.
                                        4. Mapa del sitio.
                
                                    </div>
                                    <div class="col-3"> 
                                        <!-- <a routerLink="/">Go Back</a>
                                        -->
                                        <a href="#inicio"> Volver a los enlaces superiores </a></div>
                                </div>
                            </div>
                        </footer>