
<section class="row row mt-100 border border-dark rounded align-items-center" style="height: auto">
    <article>

  
                <!--recibimos un evento-->
                <!--
                <app-add-hardSkill
                    (onAddHardSkill)="addHardSkill($event)" 
                ></app-add-hardSkill>
                -->
                <h4> Hard Skills </h4>
                <app-hard-skills-item 
                *ngFor="let hardSkill of hardSkills"
                [hardSkill] = "hardSkill"
                (onDeleteHardSkill)="deleteHardSkill(hardSkill)"
                (onToggleReminder)="toggleReminder(hardSkill)"
                >    
                </app-hard-skills-item> 
            
                 


    </article>
</section>