
<!-- Es nuestra tarjeta-->
<div 
    class="experiencia"
    [ngClass]="{ reminder: experiencia.reminder }"
    (click)="onToggle(experiencia)"
>
    <h3>
        {{experiencia.tipo}} 
        <!--
        <fa-icon 
            [icon]="faTimes"
            [ngStyle] = "{'color': 'red'}" 
            (click)="onDelete(experiencia)" 
        ></fa-icon>
        -->
        <!-- [ngStyle] esto es online se pudo haber hecho con una class -->

        <fa-icon 
        [icon]="faPencil"
        [ngStyle] = "{'color': 'green'}" 
        (click)="onDelete(experiencia)" 
        ></fa-icon>

        <fa-icon 
        [icon]="faTrashCan"
        [ngStyle] = "{'color': 'green'}" 
        (click)="onDelete(experiencia)" 
        ></fa-icon>
    </h3>
    <h3>
        {{experiencia.tiempo}}
    </h3>
</div>
