<div class="container-fluid">
    <!------------------------------------------------------------>
    <!--encabezado-->
  
    <header>  
       
        <div class="bg-primary p-6 text-white">
            <div class="container-fluid" > 
                
                 <div class="row mt-10 border border-dark rounded align-items-center" >   
                    <div class="col-sm-1">                        
                        <img src="assets/APLogo-20-20[2-Etapa].png" class="img-fluid" alt="Argentina Programa - #YoProgramo" width="60" height="auto">   
                    </div>
                    <div class="col-sm-2">
                        <h6> Argentina Programa #YoProgramo</h6>
                    </div>
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-2">
                        <a href="https://web.whatsapp.com/">
                            <img src="assets/icons8-whatsapp-48.png" style="height: 30px;"/>
                        </a>
                        <a href="mailto:gabrielhuanaco@gmail.com">
                            <img src="assets/icons8-gmail-48.png" style="height: 30px;"/>
                        </a>
                        <a href="https://www.facebook.com/">
                            <img src="assets/facebook.png" style="height: 30px;"/>
                        </a>                                                       
                    </div>
                    <div class="col-sm-2">
                        
                         
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                           
                            <button class="btn btn-success" type="button">Login</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--banner que me represente-->
        <div class="container-fluid" >
            <!-- Background image -->
            <div 
            class="bg-image"
                          
            style="
            background-image: url('assets/Esquina_Totoral_3.jpg');
            height: 45vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #cccccc;
                        
            ">
            
            
                <!-- <div class="bg-success p-2 text-white"> -->
                <div class="text-white">
                    <div class="row">
                        <div class="col-sm-6"> 
                            <br><br>
                            
                        </div>
                        <div class="col-sm-6">
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-7"> 
                            <br><br><br><br><br><br><br><br><br><br>
                            <br>
                            
                            <img src="assets/foto_Perfil.jpg" class="rounded-circle" alt="Foto de Gabriel" width="150" height="auto">
                        </div>
                        <div class="col-sm-5">
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Información profesional resumida-->
        <div class="bg-primary p-6 text-white">
            <div class="container-fluid"> 
                <div class="row mt-10 border border-dark rounded align-items-center" >
                    <div class="col-sm-7">                            
                        <br>
                        <h3>Gabriel Huanaco Impa</h3>
                        <h6>Futuro Programador Full Stack Developer Jr.</h6>
                        <h6>Argentina jujuy San Salvador de jujuy.                                
                            <a href="http://www.google.com" class="link-dark" target="_blank">Informacion de contacto.</a>
                        </h6>    
                    </div>
                    <div class="col-sm-5" >                        
                        <figure class="text-end">
                            <blockquote class="blockquote">
                            <h6>Argentina jujuy Cochinoca <br> Finca Esquina Totoral.</h6>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
   
    
        <!--Acerca de-->

        <div class="bg-muted p-6 text-black">
            <div class="container-fluid"> 
                <div class="row mt-10 border border-dark rounded align-items-center" >
                    <div class="col-sm-11">
                        <h4>Acerca de</h4>
                        <p>Tecnico Maestro Mayor de Obra, Profesor con concurrencia de titulo base.</p>
                    </div>
                    <div class="col-sm-1">                            
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                            
                            <button class="btn btn-default">
                                <img src="assets/icons8-edit.gif" width="30" /> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </header>

</div>