.educacion {
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20 px;
    cursor: pointer;
}

.educacion.reminder{
    border-left: 5px solid orange;
}

.educacion h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

