
<section class="row row mt-100 border border-dark rounded align-items-center" style="height: auto">
    <article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"><h3>Experiencia</h3></div>
            <div class="col-md-2">  
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">                            
                    <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="assets/icons8-plus-minus.png" width="30" /> 
                    </button>
                </div>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <!--    
                <h1> hola collapse</h1>
                <h1> hola collapse</h1>
                <h1> hola collapse</h1>
                    -->   
                <!--recibimos un evento-->
                <!--
                <app-add-experiencia
                    (onAddTask)="addTask($event)" 
                ></app-add-experiencia>
                -->

                <app-experiencias-item 
                *ngFor="let experiencia of experiencias"
                [experiencia] = "experiencia"
                (onDeleteTask)="deleteTask(experiencia)"
                (onToggleReminder)="toggleReminder(experiencia)"
                >    
                </app-experiencias-item> 


            </div> <!--fin card card-body-->
        </div> <!--fin collapse  -->
    </div> <!-- fin container-->
    </article>
</section>


