
<div class="container-fluid"> 
    <!--Navegador-->
        <nav class="navbar navbar-light bg-light">
            <form class="container-fluid justify-content-start">
              <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-success me-md-2" type="button">Tengo interes en</button>
                <button class="btn btn-success me-md-2" type="button">Añadir Sección</button>
                <button class="btn btn-success" type="button">Mas</button>
              </div>
            </form>
        </nav>
</div>