
<section class="row row mt-100 border border-dark rounded align-items-center" style="height: auto">
    <article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"><h3>Hard & Soft Skills</h3></div>
            <div class="col-md-2">  
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">                            
                    <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleHSK" aria-expanded="false" aria-controls="collapseExample">
                        <img src="assets/icons8-plus-minus.png" width="30" /> 
                    </button>
                </div>
            </div>
        </div>

        <div class="collapse" id="collapseExampleHSK">
            <div class="card card-body">
  
                <app-hard-skills></app-hard-skills>
                <app-soft-skills></app-soft-skills>
                <app-idiomas></app-idiomas>

            </div> <!--fin card card-body-->
        </div> <!--fin collapse  -->
    </div> <!-- fin container-->
    </article>
</section>
