

<!-- Es nuestra tarjeta-->

<div 
    class="hardSkill"
    [ngClass]="{ reminder: hardSkill.reminder }"
    (click)="onToggle(hardSkill)"
>
    <div class= "row"> 
        <div class="col-md-2">           
            
       </div>
        
        <div class="col-md-9">
            <h5>
                {{hardSkill.id}} 
            </h5>
            <h5>
                <circle-progress
  
                [percent]="hardSkill.nivel"
                [title]="hardSkill.nivel.toString()"
                [subtitle]="hardSkill.habilidad"
                [titleColor]="'black'"
                [radius]="100"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'green'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="1000"
              ></circle-progress>              	              	              	              	              	
                	
                	              	              	              
            </h5>


        </div>
        <div class="col-md-1">
            <h5>
                <div class= "row"> 
                    <div class="col-md-5">
                        <fa-icon 
                        [icon]="faPencil"
                        [ngStyle] = "{'color': 'green'}" 
                        (click)="onDelete(hardSkill)" 
                        ></fa-icon>
                    </div>

                    <div class="col-md-7">
                        <fa-icon 
                        [icon]="faTrashCan"
                        [ngStyle] = "{'color': 'green'}" 
                        (click)="onDelete(hardSkill)" 
                        ></fa-icon>
                    </div>
                </div>
            </h5> 
        </div>

    </div>


</div>

